.MyProducts3 {
	border: 3px solid cyan;
	overflow-wrap: break-word;
	display: flex;
}

.leftSide3 {
	border: 3px solid salmon;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.list3 {
	/* border: 3px solid purple; */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.item3 {
	display: flex;
	align-items: stretch;
	/* border: 3px solid saddlebrown; */
	border-bottom: 1px solid black;
	margin-top: 10px;
	max-width: 100%;
	overflow-wrap: break-word;
	height: max-content;
}

.img3 {
	width: 120px;
	height: 80px;
}

.content3 {
	/* border: 3px solid purple; */
	display: flex;
	flex-direction: column;
	overflow-wrap: break-word;
	position: relative;
	height: max-content;
	height: 80px;
	flex-grow: 1;
	justify-content: space-between;
}

.contentTop3 {
	/* border: 3px solid orange; */
	display: flex;
	justify-content: space-between;
	max-width: inherit;
	overflow-wrap: break-word;
}

.contentTopLeft3 {
	/* border: 3px solid white; */
	max-width: 100%;
	overflow-wrap: break-word;
	color: darkgreen;
}

.contentTopRight3 {
	/* border: 3px solid blue; */
	margin-left: 5px;
}

.contentBottom3 {
	/* border: 3px solid crimson; */
}

.name3 {
	font-size: small;
	font-weight: bold;
}

.buttonBox3 {
	display: flex;
}

.button3 {
	margin-right: 15px !important;
	margin-left: 15px !important;
}

.form3 {
	border: 3px solid lightseagreen;
	display: flex;
	flex-direction: column;
	max-width: 80%;
}

.upper3 {
	/* border: 3px solid black; */
	display: flex;
	justify-content: center;
}

.upperLeft3 {
	margin: 10px;
}

.upperRight3 {
	/* border: 3px solid orange; */
	display: flex;
	flex-direction: column;
}

.formImage3 {
	width: 200px;
	height: 150px;
}

.elContainer3 {
	margin: 5px;
}

.label3 {
	width: 78px;
}

.description3 {
	flex-grow: 1;
	border-color: #85b7d9;
	background: #fff;
	color: rgba(0, 0, 0, 0.8);
	box-shadow: none;

	margin: 0;
	max-width: 100%;

	border-radius: 0.28571429rem;
}

.lower3 {
	/* border: 3px solid red; */
	display: flex;
	margin-top: 15px;
}

.customAttributes3 {
	/* border: 3px solid rgb(51, 45, 34); */
	padding: 3px;
}

.tags3 {
	/* border: 3px solid yellow; */
	display: flex;
	flex-direction: column;
	margin-left: 75px;
}

.attributesPart3 {
	/* border: 3px solid navy; */
	display: flex;
	flex-direction: column;
}

.attributeContainer3 {
	margin: 5px;
}

.buttonPart3 {
	/* border: 3px solid rgb(11, 240, 11); */
	margin: 15px;
	display: flex;
	justify-content: space-around;
}

.attributeName3 {
	margin-right: 15px !important;
}

.attributeHeader3 {
	margin-right: 98px;
	margin-left: 7px;
}

.tagsPart3 {
	/* border: 3px solid lightslategray; */
}
