.MyProducts
{
    /* border: 3px solid cyan; */
}

.item3
{
    display:flex;
    padding-bottom: 30px;
    /* border: 3px solid saddlebrown; */

    margin-top: 20px;
}

.img3
{
    width: 150px;
    height: 100px;
}

.name3
{
    font-size: large;
    font-weight: bold;
}

.b3
{
    margin-bottom: 0px;
}