body {
	background-color: rgba(162, 239, 134, 0.84) !important;
}

.banner1 {
	height: auto;
	width: 500px;
	margin: 30px;
}

.login1 {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 30px !important;
}

.left1 {
	display: flex;
	flex-direction: column;
}

.register1 {
	display: flex;
	flex-direction: column;
	margin: 50px;
	justify-content: end;
	width: 500px;
}



.main1 {
	display: flex;
	justify-content: space-around;
}

.HubMain {
	display: flex;
	flex-direction: column;
}

.navBar {
	height: 50px;
	width: 2000px;
}

.hubBottom {
	display: flex;
	
	
}

.profile2 {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	background-color: lightgreen;
}

.leftDiv2 {
	display: flex;
	flex-direction: column;
	background-color: lightgrey;
	padding: 30px;
	margin: 30px;
}

.middleDiv2 {
	display: flex;
	flex-direction: column;
	
}

.subMiddleDiv2 {
	display: flex;
	flex-direction: column;
	background-color: lightgrey;

	padding: 30px;
	margin: 30px;
}


.lab2 {
	align-self: center;
	margin-right: 5px;
}

.button2 {
	
	width: 40%;
}

.rightDiv2 {
	background-color: lightgrey;
	padding: 30px;
	margin-top: 30px;
	height: 180px;
}

.row2 {
	flex-wrap: wrap;
}


.buyProducts2 {
	display: flex;

}

.partLeft2 {
	display: flex;
	flex-direction: column;

}



.move2 {
	margin: 10px;
	
}

.buttonPage {
	width: 20%;
	margin: 200px;
}

.firstDiv2 {
	display: flex;
}

.img2 {
	width: 100%;

	margin-right: 50px;
	
}

.partRight2 {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-left: 80px;
}

.rightFirstDiv2 {
	display: flex;
	flex-direction: column;
}

.barterDiv2 {
	display: flex;
	margin-top: 20px;
}